In [1]:
# importing packages
import pandas as pd
import numpy as np
from scipy.interpolate import spline
from numpy import array
import matplotlib as mpl

# for plots
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.dates import date2num
from mpl_toolkits.basemap import Basemap

# for date and time processing
import datetime

# for statistical graphs
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [44]:
df = pd.read_csv('xAPI-Edu-Data.csv')

In [28]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [29]:
sex = pd.get_dummies(df['gender'],drop_first=True)
sex.head()

   M
0  1
1  1
2  1
3  1
4  1

In [30]:
RRelation = pd.get_dummies(df['Relation'],drop_first=True)
RRelation.head()

   Mum
0    0
1    0
2    0
3    0
4    0

In [32]:
PParentAnsweringSurvey = pd.get_dummies(df['ParentAnsweringSurvey'],drop_first=True)
PParentAnsweringSurvey.head()

   Yes
0    1
1    1
2    0
3    0
4    0

In [35]:
PParentschoolSatisfaction = pd.get_dummies(df['ParentschoolSatisfaction'],drop_first=True)
PParentschoolSatisfaction.head()

   Good
0     1
1     1
2     0
3     0
4     0

In [36]:
SStudentAbsenceDays = pd.get_dummies(df['StudentAbsenceDays'],drop_first=True)
SStudentAbsenceDays.head()

   Under-7
0        1
1        1
2        0
3        0
4        0

In [45]:
df = pd.concat([sex, RRelation, PParentAnsweringSurvey, 
                PParentschoolSatisfaction, SStudentAbsenceDays, df], axis = 1)
df.head()

,M,Mum,Yes,Good,Under-7,gender,NationalITy,PlaceofBirth,StageID,GradeID,...,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,0,1,1,1,M,KW,KuwaIT,lowerlevel,G-04,...,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,1,0,1,1,1,M,KW,KuwaIT,lowerlevel,G-04,...,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,1,0,0,0,0,M,KW,KuwaIT,lowerlevel,G-04,...,F,Father,10,7,0,30,No,Bad,Above-7,L
3,1,0,0,0,0,M,KW,KuwaIT,lowerlevel,G-04,...,F,Father,30,25,5,35,No,Bad,Above-7,L
4,1,0,0,0,0,M,KW,KuwaIT,lowerlevel,G-04,...,F,Father,40,50,12,50,No,Bad,Above-7,M

In [46]:
df.columns

Index(['M', 'Mum', 'Yes', 'Good', 'Under-7', 'gender', 'NationalITy',
       'PlaceofBirth', 'StageID', 'GradeID', 'SectionID', 'Topic', 'Semester',
       'Relation', 'raisedhands', 'VisITedResources', 'AnnouncementsView',
       'Discussion', 'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [48]:
df.drop(['gender', 'NationalITy',
       'PlaceofBirth', 'StageID'],axis=1,inplace=True)

In [50]:
df.drop(['GradeID', 'SectionID', 'Topic', 'Semester',
       'Relation', 'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays'],axis=1,inplace=True)

In [52]:
df.head()

,M,Mum,Yes,Good,Under-7,raisedhands,VisITedResources,AnnouncementsView,Discussion,Class
0,1,0,1,1,1,15,16,2,20,M
1,1,0,1,1,1,20,20,3,25,M
2,1,0,0,0,0,10,7,0,30,L
3,1,0,0,0,0,30,25,5,35,L
4,1,0,0,0,0,40,50,12,50,M

In [53]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Class',axis=1), 
                                                    df['Class'], test_size=0.30, 
                                                    random_state=101)

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [58]:
predictions = logmodel.predict(X_test)

In [59]:
from sklearn.metrics import classification_report

In [60]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          H       0.67      0.70      0.69        44
          L       0.80      0.95      0.87        38
          M       0.72      0.61      0.66        62

avg / total       0.73      0.73      0.72       144

In [61]:
from sklearn.metrics import confusion_matrix

In [62]:
confusion_matrix(y_test,predictions)

array([[31,  0, 13],
       [ 0, 36,  2],
       [15,  9, 38]])